/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body 
{
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

a 
{
  color: #18d26e;
  transition: 0.5s;
  text-decoration: none;
}

a:hover, a:active, a:focus 
{
  color: #18d36e;
  outline: none;
  text-decoration: none;
}

p 
{
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 
{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top 
{
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #ffd503;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i 
{
  font-size: 28px;
  color: black;
  line-height: 0;
}

.back-to-top:hover 
{
  background: #00aea6;
  color: #ffd600;
}

.back-to-top.active 
{
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header 
{
  transition: all 0.5s;
  z-index: 997;
  background: rgba(0, 0, 0, 0.9);
  height: 80px;
}

#header.header-transparent 
{
  background: transparent;
}

#header.header-scrolled 
{
  background: #005aab;
  height: 60px;
}

#header .logo 
{
  font-size: 34px;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  padding-left: 10px;
  border-left: 4px solid #18d26e;
}

#header .logo a 
{
  color: #fff;
}

#header .logo img 
{
  max-height: 40px;
}

@media (max-width: 992px) 
{
  #header .logo 
  {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar 
{
  padding: 0;
}

.navbar ul 
{
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li 
{
  position: relative;
}

.navbar a 
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
  text-transform: uppercase;
  transition: 0.3s;
}

.navbar a i 
{
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar li:hover > a 
{
  color: #ffd600;
}

.navbar .dropdown ul 
{
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li 
{
  min-width: 200px;
}

.navbar .dropdown ul a 
{
  padding: 10px 20px;
  text-transform: none;
  color: #666666;
}

.navbar .dropdown ul a i 
{
  font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a 
{
  color: #18d26e;
}

.navbar .dropdown:hover > ul 
{
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul 
{
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul 
{
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) 
{
  .navbar .dropdown .dropdown ul 
  {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul 
  {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle 
{
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) 
{
  .mobile-nav-toggle 
  {
    display: block;
  }
  .navbar ul 
  {
    display: none;
  }
}

.navbar-mobile 
{
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(26, 26, 26, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle 
{
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul 
{
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a 
{
  padding: 10px 20px;
  font-size: 15px;
  color: #333333;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a 
{
  color: #18d26e;
}

.navbar-mobile .getstarted 
{
  margin: 15px;
}

.navbar-mobile .dropdown ul 
{
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li 
{
  min-width: 200px;
}

.navbar-mobile .dropdown ul a 
{
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i 
{
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a 
{
  color: #18d26e;
}

.navbar-mobile .dropdown > .dropdown-active 
{
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero 
{
  width: 100%;
  height: 100vh;
  background: #000;
  overflow: hidden;
  position: relative;
}

@media (max-height: 500px) 
{
  #hero 
  {
    height: 150vh;
  }
}

#hero .carousel, #hero .carousel-inner, #hero .carousel-item, #hero .carousel-item::before 
{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-item 
{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero .carousel-item::before 
{
  content: '';
  background-color: rgba(0, 0, 0, 0.7);
}

#hero .carousel-container 
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 70px;
  left: 50px;
  right: 50px;
}

#hero .container 
{
  text-align: center;
}

#hero h2 
{
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

@media (max-width: 768px) 
{
  #hero h2 
  {
    font-size: 28px;
  }
}

#hero p 
{
  width: 80%;
  margin: 0 auto 30px auto;
  color: #fff;
}

@media (min-width: 1024px) 
{
  #hero p 
  {
    width: 60%;
  }
}

#hero .carousel-fade 
{
  overflow: hidden;
}

#hero .carousel-fade .carousel-inner .carousel-item 
{
  transition-property: opacity;
}

#hero .carousel-fade .carousel-inner .carousel-item,
#hero .carousel-fade .carousel-inner .active.carousel-item-start,
#hero .carousel-fade .carousel-inner .active.carousel-item-end 
{
  opacity: 0;
}

#hero .carousel-fade .carousel-inner .active,
#hero .carousel-fade .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-end 
{
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-fade .carousel-inner .carousel-item-next,
#hero .carousel-fade .carousel-inner .carousel-item-prev,
#hero .carousel-fade .carousel-inner .active.carousel-item-start,
#hero .carousel-fade .carousel-inner .active.carousel-item-end 
{
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev, #hero .carousel-control-next 
{
  width: 10%;
}

@media (min-width: 1024px) {
  #hero .carousel-control-prev, #hero .carousel-control-next 
  {
    width: 5%;
  }
}

#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon 
{
  background: none;
  font-size: 32px;
  line-height: 1;
}

#hero .carousel-indicators li 
{
  cursor: pointer;
}

#hero .btn-get-started 
{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: #18d26e;
}

#hero .btn-get-started:hover 
{
  background: #fff;
  color: #18d26e;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
 
{
  overflow: hidden;
}

/* Sections Header
--------------------------------*/
.section-header h3 
{
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
}

.section-header h3::before 
{
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-header h3::after 
{
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #18d26e;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-header p 
{
  text-align: center;
  padding-bottom: 30px;
  color: #333;
}

/* Section with background
--------------------------------*/
.section-bg 
{
  background: #f7f7f7;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs 
{
  padding: 20px 0;
  background-color: #f7f7f7;
  min-height: 40px;
  margin-top: 80px;
}

.breadcrumbs h2 
{
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 400;
}

.breadcrumbs ol 
{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li + li 
{
  padding-left: 10px;
}

.breadcrumbs ol li + li::before 
{
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) 
{
  .breadcrumbs .d-flex 
  {
    display: block !important;
  }
  .breadcrumbs ol 
  {
    display: block;
  }
  .breadcrumbs ol li 
  {
    display: inline-block;
  }
}


/* Call To Action Section
--------------------------------*/
#call-to-action {
  background: linear-gradient(rgba(0, 142, 99, 0.1), rgba(0, 0, 0, 0.1)), url(../img/call-to-action-bg.jpg) fixed center center;
  background-size: cover;
  padding: 60px 0;
}

#call-to-action h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#call-to-action p {
  color: #fff;
}

#call-to-action .cta-btn {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#call-to-action .cta-btn:hover {
  background: #18d26e;
  border: 2px solid #18d26e;
}

/* Call To Action Section
--------------------------------*/
#skills {
  padding: 60px 0;
}

#skills .progress {
  height: 35px;
  margin-bottom: 10px;
  border-radius: 0;
}

#skills .progress .skill {
  font-family: "Open Sans", sans-serif;
  line-height: 35px;
  padding: 0;
  margin: 0 0 0 20px;
  text-transform: uppercase;
}

#skills .progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}

#skills .progress-bar {
  width: 1px;
  text-align: left;
  transition: .9s;
}

/* Contact Section
--------------------------------*/
#contact 
{
  padding: 60px 0;
}

#contact .contact-info 
{
  margin-bottom: 20px;
  text-align: center;
}

#contact .contact-info i 
{
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #00aea6;
}

#contact .contact-info address, #contact .contact-info p 
{
  margin-bottom: 0;
  color: #000;
}

#contact .contact-info h3 
{
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}

#contact .contact-info a 
{
  color: #000;
}

#contact .contact-info a:hover 
{
  color: #18d26e;
}

#contact .contact-address, #contact .contact-phone, #contact .contact-email 
{
  margin-bottom: 20px;
}

@media (min-width: 768px) 
{
  #contact .contact-address, #contact .contact-phone, #contact .contact-email 
  {
    padding: 20px 0;
  }
}

@media (min-width: 768px) 
{
  #contact .contact-phone 
  {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}

#contact .php-email-form 
{
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
  background: #fff;
}

#contact .php-email-form .error-message 
{
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

#contact .php-email-form .error-message br + br 
{
  margin-top: 25px;
}

#contact .php-email-form .sent-message 
{
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#contact .php-email-form .loading 
{
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

#contact .php-email-form .loading:before 
{
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

#contact .php-email-form .form-group 
{
  margin-bottom: 20px;
}

#contact .php-email-form input, #contact .php-email-form textarea 
{
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}

#contact .php-email-form input::focus, #contact .php-email-form textarea::focus 
{
  background-color: #18d26e;
}

#contact .php-email-form button[type="submit"] 
{
  background: #18d26e;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

#contact .php-email-form button[type="submit"]:hover 
{
  background: #13a456;
}

@-webkit-keyframes animate-loading 
{
  0% 
  {
    transform: rotate(0deg);
  }
  100% 
  {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading 
{
  0% 
  {
    transform: rotate(0deg);
  }
  100% 
  {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
input[type=button] 
{
  background-color: #ffd600;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 15%;
}

input[type=button]:hover 
{
  background-color: white;
  color: #ffd600;
}

input[type=submit] 
{
  background-color: #ffd600;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 15%;
}

input[type=submit]:hover 
{
  background-color: black;
  color: #ffd600;
}

input[type=reset] 
{
  background-color: #ffd600;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 15%;
}

input[type=reset]:hover 
{
  background-color: black;
  color: #ffd600;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer 
{
  background: #005aab;
  padding: 0 0 10px 0;
  color: #eee;
  font-size: 14px;
}

#footer .copyright 
{
  text-align: center;
  padding-top: 10px;
}

#footer .credits 
{
  text-align: center;
  font-size: 13px;
  color: #ddd;
}